
* {
    animation-duration: 0.01s !important;
    transition-duration: 0.01s !important;
    animation-timing-function: linear !important; /* Ensure no delay in transitions */
    transition-timing-function: linear !important;
  }


/* New class for the left menu */
.left-menu {
 width: 15% !important;
 height: 100vh !important;
 background-color: #FFFFFF;
 position: fixed;      /* Fixed position relative to the viewport */
 top: 0;               /* Align at the top of the screen */
 left: 0;              /* Align at the left of the screen */
 z-index: 9999;        /* Ensure it's above other content */

 display: flex;
 flex-direction: column;

 overflow-y: auto;
 overflow-x: hidden;

}



.left-menu, .left-menu > li, .left-menu > li > h1, .left-menu > li > ul, .left-menu > li > ul > li, .left-menu > li > ul > li > a, .left-menu > li > h1 > a {
    padding: 0 !important;
    margin: 0 !important;
    text-decoration: none !important;

    transition: background-color 0.03s ease, transform 0.03s ease;
    color: black;

    list-style: none;
}

.left-menu > li, .left-menu > li > h1, .left-menu > li > ul, .left-menu > li > ul > li, .left-menu > li > ul > li > a, .left-menu > li > h1 > a {
    width: 100%;
    height: auto !important;
 
}

.left-menu > li > h1 > a > p {
    padding: 1rem !important;
    padding-left: 2rem !important;

    font-size: 1.2rem !important;


    white-space: nowrap !important;           
    overflow: hidden !important;              
    text-overflow: ellipsis !important; 

    margin: 0 !important;

    text-decoration: none !important;

    background-color: inherit !important;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    font-weight: 100 !important;

    height: auto !important;
}

.left-menu > li > ul > li > a > p {
    padding: 1rem !important;
    padding-left: 3rem !important;

    font-size: 1rem  !important;
    margin: 0 !important;

    text-decoration: none !important;

    background-color: inherit !important;

    font-family:Arial, Helvetica, sans-serif !important;

    font-weight: "normal" !important;

    height: auto !important;
}


.institution-page-container, .js-base-stream-container, .base-profile, .base-courses-container, .page-base-calendar, .base-messages-container, .bb-offcanvas-panel, div[bb-cache-compilation="base-grades"], #globalNavPageContentArea, .inserted-iframe {
    width: 85% !important;
    position: absolute !important;
    left: 15% !important;
    height: 100vh !important;
    overflow-y: scroll;
}



.course-id-button {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#pageTitleHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.title-button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}
  
  .course-id-button:hover, .title-button:hover {
    background-color: #45a049;
  }


  .left-menu > .title_div > .title {
    font-size: 20px !important;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;

    font-weight: 100 !important;
}

.left-menu > .title_div {
    padding: 20px !important;
}


.left-off-canvas-menu {
    display: none !important;

}


.current-page, .current-page > h1 > a > p, .current-page > ul > li > a > p, .left-menu > li:hover {
    background-color: #585858 !important;
    color: white !important;
}

.left-menu > li:hover {
    background-color: #585858 !important;
}

.current-subpage, .current-subpage  > p {
    background-color: #333333  !important;
    color: white !important;

}

.left-menu > li > ul > li > a:hover, .left-menu > li > h1 > a:hover {
    background-color: #333333 !important;
    text-decoration: underline !important;
    color: white !important;

}

.left-menu > li:hover > h1 > a > p, .left-menu > li:hover > ul > li > a > p {
    color: white !important;
}

.red-button {
    background-color: red;
}

.red-button:hover {
    background-color: #CC0000;
  }
